doctype html
html(lang="en")
  include ./partials/_head.jade
  body
    .container
      header
        h1 DonTheDeveloper
        include ./partials/_nav.jade
      block content
      footer
        a.twitch(href="https://www.twitch.tv/donthedeveloper", target="_blank")
          span Follow Our Channel
        a.discord(href="https://discord.gg/BfdCXZk", target="_blank")
          span Join Our Community