doctype html
html(lang="en")
  include ./partials/_head.jade
  body
    header
      h1 DonTheDeveloper
      include ./partials/_nav.jade
    block content
    footer
      a.twitch(href="https://www.twitch.tv/donthedeveloper", target="_blank")
      a.discord(href="https://discord.gg/BfdCXZk", target="_blank")